html,
body {
  padding: 0;
  margin: 0;
}

#page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  height: 100%;
  min-height: 60vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

table td,
th {
  padding: 0;
}
